.status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;

  border: none;
  border-radius: 4px;
  background: none;
}

.status-btn--hover-color-contrast-medium:hover {
  background-color: var(--hover-color-contrast-medium);
}

.status-btn--hover-color-contrast-high:hover {
  background-color: var(--hover-color-contrast-high);
}

.status-btn__symbol {
  display: inline-block;

  font-size: 1.3rem;
}

.status-btn:hover .status-btn__symbol {
  color: var(--active-status-radio-button-hover-color);
}
